article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	background: white;
	color: black;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

mark {
	background: yellow;
	color: black;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

input[type='search'] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	position: relative;
	width: 100%;
	min-height: 100%;
	background: #ebebeb;
	color: #444444;
}

body {
	margin: 0 0 75px;
}

.wrap {
	margin: 25px auto 50px;
	width: 60%;
	max-width: 750px;
	padding: 25px;
	background: #f8f8f8;
}

img {
	width: 100%;
}

#notneeded {
	width: 100%;
	height: 100%;
	background: pink;
}

body {
	visibility: visible !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
video {
	display: block;
}

#vcuIdentityWrapper {
	display: block;
	height: 60px;
	background-color: #f8b801;
	background-image: url(../imgs/body-bg.gif) repeat-x top;
	text-align: left;
}

#vcuIdentity {
	width: 100%;
	max-width: 982px;
	height: 54px;
	margin: 0 auto;
	padding: 0;
	background-color: #f8b801;
}

#vcuIdentity header {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 60px;
}

#vcuIdentity h1 a {
	display: block;
	width: 804px;
	height: 60px;
	margin: 0 0 0 30px;
	padding: 0;
	background: url(../imgs/vcubrand.gif) no-repeat;
	text-decoration: none;
	text-indent: -9999px;
	border: 0;
}

#vcuIdentity h1 a:hover {
	opacity: 1;
}

#vcuIdentity h2 {
	float: right;
}

#vcuIdentity h2 a {
	display: block;
	width: 109px;
	height: 31px;
	background: url(../imgs/makeitreal.gif) no-repeat;
	margin: -37px 40px 0 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	text-indent: -9999px;
}

#vcuIdentity h2 a:hover {
	opacity: 1;
}

#realLogo {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	margin-top: -50;
	background-color: black;
	clear: both;
}

#realLogo h1 {
	margin: 0;
	padding: 0;
	background-color: black;
	font-size: 30px;
}

#realLogo h1 a {
	display: block;
	width: 280px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	background: url(../imgs/makeitrealFooter.gif) no-repeat;
	text-indent: -9999px;
}

#realLogo h2 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	background-color: black;
}

#realLogo h2 a {
	display: block;
	width: 280px;
	height: 15px;
	margin: 0 auto;
	padding: 0;
	background: url(../imgs/vcubar-footer.gif) no-repeat;
	text-indent: -9999px;
}

html {
	font-size: 16px;
}

body {
	font-family: georgia, serif;
}

h1,
h2,
h3,
p,
ul {
	margin: 0 0 25px;
}

p {
	font-size: 16px;
	line-height: 24px;
	font-size: 1rem;
	line-height: 1.5rem;
}

p.small {
	font-size: 12.8px;
	line-height: 19.2px;
	font-size: 0.8rem;
	line-height: 1.2rem;
	padding: 10px;
	background: #ebebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

ul {
	padding: 0 0 0 25px;
}

.wrap a {
	color: #f8b801;
}

.wrap a:hover,
.wrap a:focus {
	color: #444444;
}

@media screen and (max-width: 995px) {

#vcuIdentityWrapper {
	height: 54px !important;
	background: white url(../imgs/body-bg-768.gif) repeat-x top !important;
}

#vcuIdentity {
	max-width: 840px !important;
}

#vcuIdentity h1 a {
	width: 659px !important;
	background: url(../imgs/vcubrand-768.gif) no-repeat !important;
}

#vcuIdentity h2 a {
	margin-top: -41px !important;
}

}

@media screen and (max-width: 873px) {

body {
	background-position: 0 48px !important;
}

#vcuIdentityWrapper {
	height: 48px;
	background: white url(../imgs/body-bg-600.gif) repeat-x top;
}

#vcuIdentity {
	max-width: 670px !important;
	margin: 0 auto;
}

#vcuIdentity header {
	height: 48px !important;
}

#vcuIdentity h1 a {
	width: 519px !important;
	border: 0 !important;
	background: url(../imgs/vcubrand-600.gif) no-repeat !important;
	text-decoration: none !important;
}

#vcuIdentity h2 a {
	width: 84px !important;
	height: 39px !important;
	margin-top: -46px !important;
	background: url(../imgs/makeitreal-600.gif) no-repeat !important;
	border: 0 !important;
	text-decoration: none !important;
}

}

@media screen and (max-width: 860px) {

html {
	font-size: 14px;
}

.wrap {
	width: 92%;
}

}

@media screen and (max-width: 768px) {

#vcuIdentity {
	max-width: 670px !important;
	margin: 0 auto;
}

}

@media screen and (max-width: 767px) {

#vcuIdentityWrapper #wrapper,
#vcuIdentityWrapper #wrap,
#vcuIdentityWrapper #content,
#vcuIdentityWrapper #container,
#vcuIdentityWrapper .wrapper,
#vcuIdentityWrapper .wrap,
#vcuIdentityWrapper .content,
#vcuIdentityWrapper .container {
	min-height: 100%;
	padding-bottom: 50px;
}

body {
	background-position: 0 35px !important;
}

#vcuIdentityWrapper {
	height: 35px !important;
	background: white url(../imgs/body-bg-sm.gif) repeat-x top !important;
}

#vcuIdentity {
	height: 35px !important;
}

#vcuIdentity header {
	height: 35px !important;
}

#vcuIdentity h1 a {
	width: 99px !important;
	height: 35px !important;
	margin: 0 auto !important;
	background: url(../imgs/vcuseal.gif) no-repeat !important;
	border: 0 !important;
	text-decoration: none !important;
}

#vcuIdentity h2 a {
	display: none !important;
	border: 0 !important;
	text-decoration: none !important;
}

#realLogo {
	display: block !important;
}

}

@media screen and (max-width: 640px) {

html {
	background: #f8f8f8;
	font-size: 12px;
}

.wrap {
	width: 95%;
	padding: 0;
	background: none;
}

}

